<div class="w-100 flex-shrink-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    {% assign top_menu_logo_url = "top_menu_logo.png" | image %}
    {% if top_menu_logo_url != nil %}
      <a href="/{{ params.locale }}">
        <img src="{{ top_menu_logo_url }}" width="220">
      </a>
    {% else %}
      <a class="navbar-brand" href="/{{ params.locale }}">
        {% if project.secrets.logo_title != nil %}
          {{ project.secrets.logo_title }}
        {% else %}
          {{ project.name }}
        {% endif %}
      </a>
    {% endif %}
    <button aria-controls="top_menu_nav" aria-expanded="false" aria-label="" class="navbar-toggler" data-bs-target="#top_menu_nav" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="top_menu_nav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/{{ params.locale }}">{{ l.frontpage }}</a>
        </li>

        {% capture top_menu_links_key %}top_menu_links_{{ params.locale }}{% endcapture %}

        {% if project.secrets[top_menu_links_key] != nil %}

          {% assign top_menu_links = project.secrets[top_menu_links_key] | split: "," %}

          {% for top_menu_link in top_menu_links %}

            {% assign top_menu_elements = top_menu_link | split: ";" %}

            {% if top_menu_elements.size == 2 %}

              <li class="nav-item">
                <a class="nav-link" href="{{ top_menu_elements[0] | path_for }}">{{ top_menu_elements[1] }}</a>
              </li>

            {% endif %}
          {% endfor %}
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="/{{ params.locale }}/users/sign_up">{{ l.sign_up }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/{{ params.locale }}/users/sign_in">{{ l.sign_in }}</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="px-md-5 mt-3 mb-5">
      {% yield %}
    </div>
  </div>
</div>

<footer class="footer mt-auto pb-5 pt-4 bg-dark">
   <div class="container">
      <small class="text-light">
         <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
               <div class="mt-4">
                {% assign footer_logo_url = "footer_logo.png" | image %}
                {% if footer_logo_url != nil %}
                  <img src="{{ footer_logo_url }}" width="220">
                {% else %}
                  <span class="navbar-brand">
                    {% if project.secrets.logo_title != nil %}
                      {{ project.secrets.logo_title }}
                    {% else %}
                      {{ project.name }}
                    {% endif %}
                  </span>
                {% endif %}
               </div>
            </div>
            <div class="col-sm-0 col-md-1 col-lg-2"></div>

            {% capture footer_links_key %}footer_links_{{ params.locale }}{% endcapture %}

            {% if project.secrets[footer_links_key] != nil %}
              <div class="col-sm-12 col-md-3 col-lg-2">
                 <div class="mt-4">
                    <div class="mb-4">{{ l.links }}</div>
                    <table>
                      <tbody>
                        {% assign footer_links = project.secrets[footer_links_key] | split: "," %}

                        {% for footer_link in footer_links %}

                          {% assign footer_elements = footer_link | split: ";" %}

                          {% if footer_elements.size == 2 %}
                            <tr>
                               <td>
                                  <h6><a class="text-light" href="{{ footer_elements[0] | path_for }}">{{ footer_elements[1] }}</a></h6>
                               </td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                 </div>
              </div>
            {% endif %}
            {% if project.secrets.footer_about != nil %}
              <div class="col-sm-12 col-md-4 col-lg-4 text-end">
                 <div class="mt-4">
                    <div class="mb-4">{{ l.about }}</div>
                    <address>
                      {% assign footer_about_elements = project.secrets.footer_about | split: ";" %}
                      {% for footer_about_element in footer_about_elements %}
                        {% if footer_about_element == footer_about_elements[0] %}
                          <b>{{ footer_about_element }}</b>
                        {% else %}
                          {{ footer_about_element }}
                        {% endif %}
                        <br>
                      {% endfor %}
                    </address>
                 </div>
              </div>
            {% endif %}
         </div>
      </small>
   </div>
</footer>